@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --cor-principal:    #000000;
    --cor-secundaria:   #F6F6F6;
    --cor-terciaria:    #22D4FD;
    --cor-hover:        #272727;   
    
    --fonte-primaria:   'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}

* {

    margin: 0;
    padding: 0;

}

body {
    
    box-sizing: border-box;
    background-color:   var(--cor-principal);
    color: var(--cor-secundaria);
        
}

.cabecalho {

    padding: 2% 0 0 15%;

}

.cabecalho__menu{

    display: flex;
    gap: 80px;

}

.cabecalho__menu--link {

    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--cor-terciaria);
    text-decoration: none;


}

.apresentacao {

    padding: 5% 15%;                                    /* Informando a distancia de um elemento para a borda */
    display: flex;                                      /* coloca os quadrados lado a lado */      
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {

    width: 50%;
    display: flex;                                      /* coloca os quadrados lado a lado */
    flex-direction: column;
    gap: 40px;                                          /* adiciona espaços iguais entre cada quadrado */

}

.apresentacao__conteudo--titulo {

    font-size: 2.25rem;
    font-family: var(--fonte-primaria);

}

.titulo-destaque {
    
    color: var(--cor-terciaria);

}

.apresentacao__conteudo--texto {

    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;


}

.apresentacao__links {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;                                          /* adiciona espaços iguais entre cada quadrado */

}

.apresentacao__links--subtitulo{

    font-family: var(--fonte-primaria);                 /*  Informando qual fonte esta sendo utilizada */
    font-weight: 400;                                   /*  Informando qual o modelo dessa fonte que queremos */
    font-size: 1.5rem;                                  /*  Informando o tamanho da fonte */

}


.apresentacao__links--navegacao {

    border: 2px solid var(--cor-terciaria);             /* Estamos adicionando a borda e informando a largura, estilo e cor */     
    width: 50%;                                       /* Informando o tamanho do preenchimento do botão  */
    border-radius: 8px;                                 /* Informando o arredondamento para as bordas */
    display: flex;                                      /* Informando os tipos de exibição internos e externos de um elemento */
    justify-content: center;                            /* controla o posicionamento dos elementos filhos ao longo do eixo principal */
    gap: 16px;                                          /* adiciona espaços iguais entre cada quadrado */

    padding: 21.5px 0;                                  /* Informando a distância entre o conteúdo de um elemento e suas bordas */    
    
    text-align: center;                                 /* Informando qual alinhamento desejado no texto */
    text-decoration: none;                              /* Informando a aparência de linhas decorativas no texto */ 
    
    font-family: var(--fonte-secundaria);               /* Informando a fonte desejada e sua familia genérica */
    font-optical-sizing: auto;                          /* Informando se a renderização de texto é otimizada para visualização em tamanhos diferentes */
    font-weight: 600;                                   /* Informando qual peso ou a intensidade da fonte que desejamos utilizar */    
    font-style: normal;                                 /* Informando o estilo da fonte */    
    font-size: 1.5rem;                                  /* Informando o tamanho da fonte */
    color: var(--cor-secundaria);                       /* Informando a cor da fonte*/  

}

.apresentacao__links--link:hover{

    background-color: var(--cor-hover);

}

.apresentacao__imagem {

    width: 50%;

}


.rodape{

    padding: 24px;

    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;


    
    background-color: var(--cor-terciaria);                      /* Informando a cor de fundo de um elemento */
    color: var(--cor-principal);

}

@media (max-width: 1200px) {
    
    .cabecalho {

        padding: 10%;
        
    }

    .cabecalho__menu {

        justify-content: center;

    }


    .apresentacao {

        flex-direction: column-reverse;
        padding: 5%;

    }

    .apresentacao__conteudo {

        width: auto;

    }

}